Package: com.wumi.HackWumi
Name: HackWumi
Version: 1.0
Description: 
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: wukong
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

